target/

projects/luukh/Assignment-2/\.~lock\.Report\.odt#

projects/luukh/Assignment-2/Calendar/\.classpath

projects/luukh/Assignment-2/Calendar/\.settings/

*.odt

*.odt#

projects/luukh/Assignment-3/Calendar/\.classpath

projects/luukh/Assignment-3/Calendar/\.settings/

projects/luukh/Assignment-3/Calendar/bin/

FinalProject/URLValidatorCorrect/\.classpath

FinalProject/URLValidatorCorrect/\.project

FinalProject/URLValidatorCorrect/\.settings/

FinalProject/URLValidatorInCorrect/\.project

FinalProject/URLValidatorInCorrect/\.classpath

FinalProject/URLValidatorInCorrect/\.settings/
