target/

projects/luukh/Assignment-2/\.~lock\.Report\.odt#

projects/luukh/Assignment-2/Calendar/\.classpath

projects/luukh/Assignment-2/Calendar/\.settings/

*.odt#

projects/luukh/Assignment-3/Calendar/\.classpath

projects/luukh/Assignment-3/Calendar/\.settings/

projects/luukh/Assignment-3/Calendar/bin/

projects/luukh/Assignment-3/Calendar/calendar\.xml

*.code-workspace

calendar.xml
calendar2.xml
